/Api/bin
/Api/obj
/Domain/bin
/Domain/obj
/Infra/Data/bin
/Infra/Data/obj
/Infra/CrossCutting/Identity/bin
/Infra/CrossCutting/Identity/obj
/Infra/CrossCutting/IoC/bin
/Infra/CrossCutting/IoC/obj
/Infra/Presentation/Web/Mvc/bin
/Infra/Presentation/Web/Mvc/obj
